<h2> <strong> <%= @filme.titulo %> </strong> </h2>
<h4> <%= @filme.ano %> </h4>
<h3> <%= @filme.genero %> </h3>
<p> <%= @filme.sinopse %> </p>

<%= link_to "Editar filme", edit_filme_path(@filme), class: "btn btn-secondary" %>
<%= button_to "Excluir filme", @filme, method: :delete, class: "btn btn-danger"%>